*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li{
    display:inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: 0.6s ease;;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}

.registration-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

.registration-form h1{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}
.registration-form p{
    font-size: 20px;
    margin: 15px 0;

}

.registration-form input{
    font-size: 16px;
    padding: 15px 10px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    outline: none;
}

.registration-form button {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 50%;
    border: 0;
    border-radius: 5px;
    background-color: #fff;
    
}

.registration-form hover{}